body {
    padding-top: 50px;
    background-color: #F5F5F5;
}
.index-hero {
    background-image: url(https://www.dropbox.com/s/mqegjguwfqse32r/dupont.jpg?raw=1);
    background-position: bottom;
    width: 100%;
}
.hero-text {
    margin: 250px 0 150px 100px;
    color: #fff;
    font-size: 2.5em;
}
.about-text {
    font-size: 1.5em;
}