{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'my_bikes/stylesheet.css' %}">
    <title>{% block pagetitle %}{% endblock %}</title>
    <style>body { padding-top: 50px; }</style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index_view' %}">Home</a>
            </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'my_bikes_view' %}">Bikes</a></li>
            <li><a href="{% url 'about_view' %}">About Me</a></li>
          </ul>
      </div>
    </nav>
    {% block jumbotron %}
    {% endblock %}

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>
