{% extends "base.html" %}
{% load staticfiles %}



{% block pagetitle %}Davis' Bikes{% endblock %}

{% block jumbotron %}
    <div class="index-hero">
        <div class="row container">
            <div class="col-md-7"></div>
            <p class="col-md-5 hero-text pull-right">A whole website about bikes that have been owned by Davis, does he have a problem?</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <p><br>Food truck gluten-free banksy, fap occupy bespoke whatever mustache. Occupy kogi kale chips chillwave, odd future typewriter iphone twee truffaut viral ethical artisan put a bird on it single-origin coffee banh mi. Master cleanse brunch occupy trust fund marfa yr. Chillwave ennui fap, wes anderson cliche cosby sweater brooklyn vegan organic. Shoreditch PBR semiotics, chillwave art party photo booth terry richardson. Synth ennui semiotics mustache pickled, biodiesel food truck cosby sweater readymade mixtape letterpress pour-over leggings. Food truck freegan vinyl thundercats, post-ironic ennui wes anderson banh mi four loko synth photo booth authentic 3 wolf moon.</p>
{% endblock %}
